<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="main.css" />

		<title>Document</title>
	</head>
	<body>
		<div class="slider">
			<div class="slide-track">
				<div
			className="text-sm slide mt-2 px-2 border-r-2 border-gray-100
        "
		>
			<div className="flex">
				<h3 className="font-semibold">Area:</h3>
				<p>{area}</p>
			</div>
			<div className="flex">
				<h3 className="font-semibold">Parent:</h3>
				<p>{parent}</p>
			</div>
			<div className="flex">
				<h3 className="font-semibold">Tuition For:</h3>
				<p>{tuition}</p>
			</div>
			{gender && (
				<div className="flex">
					<h3 className="font-semibold">Teacher's Preferred Gender:</h3>
					<p>{gender}</p>
				</div>
			)}
			<div className="flex">
				<h3 className="font-semibold">Requirement:</h3>
				<p>{requirement}</p>
			</div>
			<ul className="flex justify-end space-x-2 mr-2">
				<li>
					<Link href="#">
						<a className="bg-gray-600 text-white px-2 py-1">Apply</a>
					</Link>
				</li>
				<li>
					<Link href="#">
						<a className="bg-gray-600 text-white px-2 py-1">View</a>
					</Link>
				</li>
			</ul>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
				<div class="slide">
					<img
						src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png"
						height="100"
						width="250"
						alt=""
					/>
				</div>
			</div>
		</div>
	</body>
</html>
